.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.upload-container {
    display: flex;
    align-items: center;
    background-color: #DEE4FF;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    i {
        font-size: 15px;
    }
    
    &:hover {
        background-color: #d0d8ff;
    }

    .upload-label {
        flex-grow: 1;
        color: #897f8f;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .file-input {
        display: none;
    }
    
    i {
        font-size: 20px;
        margin-left: 12px;
        color: var(--primary-color);
    }
    
    .error-message {
        color: red;
        font-size: 0.8em;
    }
}