.FormPredictioncomponent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -40px;

    .BreadcrumbComponent {
        margin-bottom: 20px
    }

    .ContentStep {
        width: 200px;
    }

    .ContentForm {
        width: calc(100% - 280px);
        min-height: calc(100vh - 406px);
        border-radius: 20px;
        background-color: white;
        padding: 40px;

        box-shadow: 0px 0px 14px -1px rgba(222, 222, 222, 0.98);
        -webkit-box-shadow: 0px 0px 14px -1px rgba(222, 222, 222, 0.98);
        -moz-box-shadow: 0px 0px 14px -1px rgba(222, 222, 222, 0.98);

        >div:nth-child(1) {
            flex-direction: column;
            height: 100%;
            display: flex;
            width: 100%;
            align-items: flex-start;
        }
    }

    h2 { color: var(--primary-color); margin-bottom: 20px; }

    .group-inputs-form {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;

        >div {
            width: 32%;
            margin-bottom: 30px;
        }

        .sub-category {
            width: 100%;
            text-align: start;
            color: #393939;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    .group-input-form {
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 9px;
        border-radius: 20px;
        gap: 20px;
    }

    .item-pending {
        .item-icon, .item-text {
            background: #e9e9e9;
            color: #6b6b6b;
        }
    }

    .item-current {}

    .item-complete {}
}