.CardCarComponent {
    background-color: white;
    width: 280px;
    border: 1px solid #E9E9E9;
    border-radius: 16px;

    .image-background {
        height: 220px;
        width: 100%;
        background-size: cover;
        border-radius: 16px 16px 0 0;
    }

    .detail-card {
        padding: 20px 30px;

        .title-card-car {
            color: var(--color-text);
            p {
                font-weight: 700;
                font-size: 18px;
            }

            span {
                font-weight: 400;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;
                width: 100%;
            }
        }

        .description-card-car {
            border-top: 1px solid #E9E9E9;
            border-bottom: 1px solid #E9E9E9;
            display: flex;
            flex-direction: row;
            margin: 20px 0;
            padding: 12px 0;
            gap: 3%;

            div {
                display: flex;
                flex-direction: column;
                width: 30%;
                align-items: center;
                gap: 10px;

                span {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--color-text);
                }
            }
        }

        .detail-card-car {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .price-card-car {
                font-size: 20px;
                font-weight: bold;
                color: var(--color-text);
            }

            .link-detail-detail {
                color: var(--primary-color);
                font-size: 15px;
                cursor: pointer;
            }
        }
    }


}