.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group input {
    background-color: #DEE4FF;
    border: none;
    width: calc(100% - 20px);
    color: #405FF2;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.error-message {
    color: red;
    font-size: 0.8em;
}