.HeaderComponentInternal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    >div { max-width: 1280px; }
}

.HeaderComponent {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .menu-home {
        color: white;
        font-size: 20px;
        display: flex;
        gap: 12px;
        align-items: center;

        * {
            cursor: pointer;
            color: white;
        }
    }

    a, h3 {
        color: white;
        margin: 0 0 0 40px;
    }

    .options-home {
        display: flex;
        gap: 30px;
        color: white;
        margin-left: auto;
        align-items: center;

        span, a {
            cursor: pointer;
        }

        span:hover, a:hover {
            border-bottom: 2px solid white;
            transition: ease-in-out 0.5s;
        }

        .button-login-home {
            display: flex;
            gap: 10px;
            border: 1px solid white;
            border-radius: 12px;
            padding: 10px 20px;
            color: white;
            cursor: pointer;

            i {
                font-size: 20px;
                color: white;
                margin-left: 0;
            }
        }

        .button-login-home:hover {
            background-color: white;
            color: var(--primary-color);
            border-bottom: 1px solid var(--primary-color);

            i {
                color: var(--primary-color);
            }
        }
    }
}